.card-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 10rem;
}

input{
    width: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px solid #000;
    
}