.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

input {
    margin: 0;
    padding: 0;
    height: 1.5rem;
    margin-left: 1rem;
}
.input-color{
    width: 3rem;
}
h2{
    text-align: center;
}
h3 {
    margin: 0;
    margin-left: 1rem;
}

select {
    margin-left: 1rem;
}
p{
    margin: 0;
    text-align: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: inherit;
}

.card {
    margin: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button {
    margin: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#bigCont {
    display: flex;
    flex-direction: row;
 
}

#deckCustom {
    width: 50%;
}

#cardPreview {
    margin-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#save-butt{
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;

}

button{
    background-color: #4A4E69;
    border-radius: 5px;
    color: #f0f0f0; 
    font-weight: bold;
    border: none;
}